<div class="tab-content properties__tab-content">
    {% comment %}<div id="tab-popular" class="properties__list tab-pane in active">
        <div data-sr="ease-in-out 130px" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/02.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Self Storage</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">371 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For rent</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">649 West Adams Boulevard</span><span class="properties__address-city">Los Angeles, CA 90007, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$4,555<span class="properties__price-period">per month</span></span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div data-sr="ease-in-out 130px" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/03.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Mixed-Use</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">190 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">958 Dewey Avenue</span><span class="properties__address-city">Los Angeles, CA 90006, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$86,723</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div data-sr="ease-in-out 130px" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/04.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Multifamily</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">526 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">1026 Ohio Avenue</span><span class="properties__address-city">Long Beach, CA 90804, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$511,789</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div data-sr="ease-in-out 130px" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/05.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Multifamily</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">131 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">2</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">514 East Myrtle Street</span><span class="properties__address-city">Santa Ana, CA 92701, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$79,560</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div data-sr="ease-in-out 130px" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/06.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Retail</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">377 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">2</span></span></span></figure></a><span class="properties__ribon">For rent</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">1230 Martin Luther King</span><span class="properties__address-city">Los Angeles, CA 90037, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$2,255<span class="properties__price-period">per month</span></span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div data-sr="ease-in-out 130px" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/07.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Public Infrastructure</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">460 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">401 South Sycamore Street</span><span class="properties__address-city">Santa Ana, CA 92701, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$6,218,780</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
    </div>
    <div id="tab-recent" class="properties__list tab-pane">
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/06.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Retail</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">377 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">2</span></span></span></figure></a><span class="properties__ribon">For rent</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">1230 Martin Luther King</span><span class="properties__address-city">Los Angeles, CA 90037, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$2,255<span class="properties__price-period">per month</span></span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/07.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Public Infrastructure</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">460 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">401 South Sycamore Street</span><span class="properties__address-city">Santa Ana, CA 92701, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$6,218,780</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/08.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Office</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">371 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For rent</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">649 West Adams Boulevard</span><span class="properties__address-city">Los Angeles, CA 90007, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$3,100<span class="properties__price-period">per month</span></span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/09.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Seniors Housing</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">190 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">958 Dewey Avenue</span><span class="properties__address-city">Los Angeles, CA 90006, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$23,351</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/10.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Student Housing</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">534 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For rent</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">1026 Ohio Avenue</span><span class="properties__address-city">Long Beach, CA 90804, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$2750<span class="properties__price-period">per month</span></span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/11.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Industrial</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">131 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">2</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">514 East Myrtle Street</span><span class="properties__address-city">Santa Ana, CA 92701, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$879,560</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
    </div>
    <div id="tab-featured" class="properties__list tab-pane">
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/05.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Multifamily</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">131 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">2</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">514 East Myrtle Street</span><span class="properties__address-city">Santa Ana, CA 92701, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$79,560</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/06.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Retail</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">377 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">2</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">2</span></span></span></figure></a><span class="properties__ribon">For rent</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">1230 Martin Luther King</span><span class="properties__address-city">Los Angeles, CA 90037, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$2,255<span class="properties__price-period">per month</span></span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
        <div class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo"><img src="assets/media-demo/properties/554x360/07.jpg" alt="">
                <figure class="item-photo__hover item-photo__hover--params"><span class="properties__param-type">Public Infrastructure</span><span class="properties__param"><span class="properties__param-column"><span class="properties__param-label">Area:</span><span class="properties__param-value">460 m2</span></span><span class="properties__param-column"><span class="properties__param-label">Beds:</span><span class="properties__param-value">1</span></span><span class="properties__param-column"><span class="properties__param-label">Baths:</span><span class="properties__param-value">1</span></span></span></figure></a><span class="properties__ribon">For sale</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address"><span class="properties__address-street">401 South Sycamore Street</span><span class="properties__address-city">Santa Ana, CA 92701, USA</span></a><a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param--><span class="properties__price">$6,218,780</span>
            </div>
            <!-- end of block .properties__info-->
        </div>
        <!-- end of block .properties__item-->
    </div>{% endcomment %}

    {% for flat in flats %}
        <div data-sr="" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo">
                <img src="{{ flat.photo.url }}" alt="">
                <figure class="item-photo__hover item-photo__hover--params">
                    <span class="properties__param-type">Self Storage</span>
                    <span class="properties__param">
                        <span class="properties__param-column">
                        <span class="properties__param-label">Area:</span>
                        <span class="properties__param-value">371 m2</span>
                    </span>
                        <span class="properties__param-column">
                        <span class="properties__param-label">Beds:</span>
                        <span class="properties__param-value">2</span>
                    </span>
                        <span class="properties__param-column">
                        <span class="properties__param-label">Baths:</span>
                        <span class="properties__param-value">1</span></span>
                    </span></figure></a><span class="properties__ribon">flat</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address">
                <span class="properties__address-street">649 West Adams Boulevard</span>
                <span class="properties__address-city">Los Angeles, CA 90007, USA</span></a>
                <a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param-->
                <span class="properties__price">{{ flat.price }} руб.
                    <span class="properties__price-period">per month</span>
                </span>
            </div>
            <!-- end of block .properties__info-->
        </div>
    {% endfor %}
    {% for house in houses %}
        <div data-sr="" class="properties__item">
            <div class="properties__thumb"><a href="property_details.html" class="item-photo">
                <img src="{{ house.photo.url }}" alt="">
                <figure class="item-photo__hover item-photo__hover--params">
                    <span class="properties__param-type">Self Storage</span>
                    <span class="properties__param">
                        <span class="properties__param-column">
                        <span class="properties__param-label">Area:</span>
                        <span class="properties__param-value">371 m2</span>
                    </span>
                        <span class="properties__param-column">
                        <span class="properties__param-label">Beds:</span>
                        <span class="properties__param-value">2</span>
                    </span>
                        <span class="properties__param-column">
                        <span class="properties__param-label">Baths:</span>
                        <span class="properties__param-value">1</span></span>
                    </span></figure></a><span class="properties__ribon">house</span>
            </div>
            <!-- end of block .properties__thumb-->
            <div class="properties__info"><a href="property_details.html" class="properties__address">
                <span class="properties__address-street">649 West Adams Boulevard</span>
                <span class="properties__address-city">Los Angeles, CA 90007, USA</span></a>
                <a href="property_details.html" class="properties__more">View details</a>
                <!-- end of block .properties__param-->
                <span class="properties__price">{{ house.price }} руб.
                    <span class="properties__price-period">per month</span>
                </span>
            </div>
            <!-- end of block .properties__info-->
        </div>
    {% endfor %}

</div>