<form id="id_flat_search" action="{% url 'filter_flatt' %}" method="post" class="">
    {% comment %}<div class="search__row">
        <div class="search__form-group form-group">
            <label for="in-contract-type" class="search__form-label control-label">Contract type</label>
            <select id="in-contract-type" data-placeholder="Contract type" class="search__form-control search__form-control--select form-control js-in-select">
                <option label=" "></option>
                <option>Sale</option>
                <option>Rent</option>
            </select>
        </div>
        <div class="search__form-group form-group"><span class="search__form-label control-label">Location</span>
            <div class="dropdown dropdown--select">
                <button type="button" data-toggle="dropdown" data-placeholder="City" class="dropdown-toggle js-select-checkboxes-btn">City</button>
                <div class="dropdown-menu js-dropdown-menu js-select-checkboxes">
                    <div class="region-select">
                        <ul id="region" class="bonsai region-select__list">
                            <li>
                                <input id="scom-property-map-2_treeterm_37" type="checkbox" name="location[]" value="37" class="in-checkbox">
                                <label for="scom-property-map-2_treeterm_37" data-toggle="tooltip" data-placement="top" title="Fresno" class="in-label">Fresno</label>
                                <ul>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_38" type="checkbox" name="location[]" value="38" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_38" data-toggle="tooltip" data-placement="top" title="Clovis" class="in-label">Clovis</label>
                                    </li>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_39" type="checkbox" name="location[]" value="39" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_39" data-toggle="tooltip" data-placement="top" title="Fresno" class="in-label">Fresno</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <input id="scom-property-map-2_treeterm_40" type="checkbox" name="location[]" value="40" class="in-checkbox">
                                <label for="scom-property-map-2_treeterm_40" data-toggle="tooltip" data-placement="top" title="Los Angeles" class="in-label">Los Angeles</label>
                                <ul>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_41" type="checkbox" name="location[]" value="41" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_41" data-toggle="tooltip" data-placement="top" title="Glendale" class="in-label">Glendale</label>
                                    </li>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_42" type="checkbox" name="location[]" value="42" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_42" data-toggle="tooltip" data-placement="top" title="Long Beach" class="in-label">Long Beach</label>
                                    </li>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_44" type="checkbox" name="location[]" value="44" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_44" data-toggle="tooltip" data-placement="top" title="Los Angeles" class="in-label">Los Angeles</label>
                                        <ul>
                                            <li>
                                                <input id="scom-property-map-2_treeterm_45" type="checkbox" name="location[]" value="45" class="in-checkbox">
                                                <label for="scom-property-map-2_treeterm_45" data-toggle="tooltip" data-placement="top" title="Bel Air" class="in-label">Bel Air</label>
                                            </li>
                                            <li>
                                                <input id="scom-property-map-2_treeterm_46" type="checkbox" name="location[]" value="46" class="in-checkbox">
                                                <label for="scom-property-map-2_treeterm_46" data-toggle="tooltip" data-placement="top" title="Brentwood" class="in-label">Brentwood</label>
                                            </li>
                                            <li>
                                                <input id="scom-property-map-2_treeterm_47" type="checkbox" name="location[]" value="47" class="in-checkbox">
                                                <label for="scom-property-map-2_treeterm_47" data-toggle="tooltip" data-placement="top" title="Holywood Hills" class="in-label">Holywood Hills</label>
                                            </li>
                                            <li>
                                                <input id="scom-property-map-2_treeterm_48" type="checkbox" name="location[]" value="48" class="in-checkbox">
                                                <label for="scom-property-map-2_treeterm_48" data-toggle="tooltip" data-placement="top" title="Mar Vista" class="in-label">Mar Vista</label>
                                            </li>
                                            <li>
                                                <input id="scom-property-map-2_treeterm_49" type="checkbox" name="location[]" value="49" class="in-checkbox">
                                                <label for="scom-property-map-2_treeterm_49" data-toggle="tooltip" data-placement="top" title="Silver Lake" class="in-label">Silver Lake</label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_43" type="checkbox" name="location[]" value="43" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_43" data-toggle="tooltip" data-placement="top" title="Santa Ana" class="in-label">Santa Ana</label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <input id="scom-property-map-2_treeterm_50" type="checkbox" name="location[]" value="50" class="in-checkbox">
                                <label for="scom-property-map-2_treeterm_50" data-toggle="tooltip" data-placement="top" title="Santa Clara" class="in-label">Santa Clara</label>
                                <ul>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_51" type="checkbox" name="location[]" value="51" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_51" data-toggle="tooltip" data-placement="top" title="Cupertino" class="in-label">Cupertino</label>
                                    </li>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_52" type="checkbox" name="location[]" value="52" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_52" data-toggle="tooltip" data-placement="top" title="Mountain View" class="in-label">Mountain View</label>
                                    </li>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_53" type="checkbox" name="location[]" value="53" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_53" data-toggle="tooltip" data-placement="top" title="Palo Alto" class="in-label">Palo Alto</label>
                                    </li>
                                    <li>
                                        <input id="scom-property-map-2_treeterm_54" type="checkbox" name="location[]" value="54" class="in-checkbox">
                                        <label for="scom-property-map-2_treeterm_54" data-toggle="tooltip" data-placement="top" title="San Jose" class="in-label">San Jose</label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="region-select__buttons">
                            <button type="button" class="region-select__btn region-select__btn--reset js-select-checkboxes-reset">Clear</button>
                            <button type="button" class="region-select__btn js-select-checkboxes-accept">Accept</button>
                        </div>
                    </div>
                    <!-- end of block .region-select-->
                </div>
                <!-- end of block .dropdown-menu-->
            </div>
        </div>
        <div class="search__form-group form-group">
            <label for="in-descr" class="search__form-label control-label">Description</label>
            <input type="text" placeholder="Description" id="in-descr" class="search__form-control search__form-control--text form-control">
        </div>
        <div class="search__form-group form-group"><span class="search__form-label control-label">Property type</span>
            <div class="dropdown dropdown--select">
                <button type="button" data-toggle="dropdown" data-placeholder="Property type" class="dropdown-toggle js-select-checkboxes-btn">Property type</button>
                <div class="dropdown-menu js-dropdown-menu js-select-checkboxes">
                    <ul>
                        <li>
                            <input id="checkbox_type_1" type="checkbox" name="checkbox_type_1" class="in-checkbox">
                            <label for="checkbox_type_1" data-toggle="tooltip" data-placement="left" title="Tooltip on top" class="in-label">Privat apartment</label>
                        </li>
                        <li>
                            <input id="checkbox_type_2" type="checkbox" name="checkbox_type_2" class="in-checkbox">
                            <label for="checkbox_type_2" data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="in-label">Apartment</label>
                        </li>
                        <li>
                            <input id="checkbox_type_3" type="checkbox" name="checkbox_type_3" class="in-checkbox">
                            <label for="checkbox_type_3" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">Cottage</label>
                        </li>
                        <li>
                            <input id="checkbox_type_4" type="checkbox" name="checkbox_type_4" class="in-checkbox">
                            <label for="checkbox_type_4" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">Flat</label>
                        </li>
                        <li>
                            <input id="checkbox_type_5" type="checkbox" name="checkbox_type_5" class="in-checkbox">
                            <label for="checkbox_type_5" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">House</label>
                        </li>
                        <li>
                            <input id="checkbox_type_6" type="checkbox" name="checkbox_type_6" class="in-checkbox">
                            <label for="checkbox_type_6" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">Condominium</label>
                        </li>
                        <li>
                            <input id="checkbox_type_7" type="checkbox" name="checkbox_type_7" class="in-checkbox">
                            <label for="checkbox_type_7" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">Cottage</label>
                        </li>
                        <li>
                            <input id="checkbox_type_8" type="checkbox" name="checkbox_type_8" class="in-checkbox">
                            <label for="checkbox_type_8" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">Flat</label>
                        </li>
                        <li>
                            <input id="checkbox_type_9" type="checkbox" name="checkbox_type_9" class="in-checkbox">
                            <label for="checkbox_type_9" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">Cottage</label>
                        </li>
                        <li>
                            <input id="checkbox_type_10" type="checkbox" name="checkbox_type_10" class="in-checkbox">
                            <label for="checkbox_type_10" data-toggle="tooltip" data-placement="bottom" title="Tooltip on top" class="in-label">Condominium</label>
                        </li>
                    </ul>
                    <!-- end of block .dropdown-menu-->
                </div>
            </div>
        </div>
        <div class="search__form-group form-group">
            <label for="in-datetime" class="search__form-label control-label">Date Range</label>
            <input type="text" id="in-datetime" data-start-date="12/03/2015" data-end-date="12/22/2015" data-time-picker="true" data-single-picker="false" class="search__form-control search__form-control--text js-datetimerange form-control">
        </div>
        <div class="search__form-group form-group">
            <label for="range_price" class="search__form-label control-label">Price range</label>
            <div class="search__ranges">
                <input id="range_price" class="js-search-range search__ranges-in">
            </div>
        </div>
        <div class="search__form-group form-group">
            <label for="range_area" class="search__form-label control-label">Area range</label>
            <div class="search__ranges">
                <input id="range_area" class="js-search-range search__ranges-in">
            </div>
        </div>
    </div>
    <div class="search__row search__row--buttons">
        <div class="search__buttons">
            <button type="submit" class="search__btn search__btn--action">Search</button>
        </div>
    </div>{% endcomment %}
    {% csrf_token %}
        {{ filter.form.as_ul }}
    <input type="submit" />
</form>
                                    